/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul,ol,menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
   
}

button{
    padding: 5px 10px ;
    border: none;
}

/* LAYOUT */

.container{
    max-width: 1164px ;
    margin: 0 auto;
    padding: 0 12px;
}

.container-sm{
    max-width: 904px;
    margin: 0 auto;
    padding: 0 12px;
}



.row{
    display:flex;
    flex-wrap: wrap;
    row-gap: 24px;
}

.row > *{
    padding: 0 12px;
}


.col-12{
    width: calc(12 * 100% / 12);
    padding: 0 12px;
}

/* STYLE */

/* NAV-BAR */
.nav{
    background-color: #0084fd;
    color: white;
    padding: 20px 0;
}

.nav .container .row{
    justify-content: space-between;
    align-items: center;
}

.logo img{
    display: block;
}

.menu-list{
    display: none;
}

.menu-list a{
    display: block;
    padding: 0 20px;
}

.menu{
    font-size: 30px;
}

@media (min-width:992px){
    .menu-list{
        display: flex;
    }

    .menu{
        display: none;
    }
}

/* HERO */
.hero{
    padding: 40px 0;
}
.hero .container .row {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    
}

.row .card{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    align-items: center;
}

 .lungo {
    display: flex;
    
   
} 

.thumb{
    display: flex;
    align-items: flex-end;
}

.thumb img{
    display: block;
    width: 600px;
    margin: 0 auto;

}



.col-12{
    
    width: calc(12 * 100% /12);
    background-color: #b5ddff;
    border-radius: 50px;
   
    
}

.col-12 .icon{
    font-size: 60px;
}

@media (min-width:768px) {
    .col-8-md{
        width: calc(8 * 100% / 12 - 24px);   
    }
    
    .col-4-md{
        width: calc(4 * 100% / 12 - 24px);   
    }
    
    
}


@media (max-width:992px){
    .thumb img{
        width: 250px;
    } 
    .lungo {
        display: flex;
        flex-wrap: wrap;
    } 
     

    
}

/* Strategic */
.strategic {
    background-color: #9392e0;
}

.strategic .container {
    padding: 20px;
    width: 100%;
}

.col-strategic{
    color: white;
}

.col-strategic > *{
    padding: 20px 0;
}

.col-strategic-lt{
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 50px;
}

 .col-strategic-lt > *{
    padding: 20px 
   
} 

@media (min-width:992px){
    .col-strategic,.col-strategic-lt{
        width: calc(6 * 100% / 12 );
    }

    .col-strategic-lt{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .strategic .container .row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

/* testimonials */
.testimonials{
    padding: 20px 0;
    text-align: center;
}

.testimonials .container > *{
    padding: 20px 0;
}

.testimonial{
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    background-color: #9392e0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial > *{
    padding: 20px 0;
}

.testimonial img{
    display: block;
    aspect-ratio: 1/1; 
    border-radius: 500px;
    width: 210px;
    
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description >*{
    padding: 20px 0;
}

@media (min-width:768px){
    .testimonial{
        flex-direction: row;
    }
}

/* benefits */

.benefits{
    padding: 20px 0;
    background-color: #9392e0;
}

.col-benefits{
    padding: 40px;
    background-color: white;
    border-radius: 50px;
}
.col-benefits > *{
    padding: 20px 0;
}

.benefits .container .row{
    gap: 25px;
}

.benefits .container h2{
    text-align: center;
}

.benefits .container > *{
    padding: 20px 0;
}

@media (min-width:768px){
    .col-benefits{
        width: calc((6 * 100% / 12) - 25px);
    }
}

@media (min-width:992px){
    .col-benefits{
        width: calc((4 * 100% / 12) - 25px);
    }
}

/* about us */
.about-us{
    padding: 20px 0;
}

.about-us .container .row .col-about-us>*{
    padding: 20px 

}

.about-us .container .row .col-about-us img{
    display: block;
    aspect-ratio: 1/1; 
    border-radius: 500px;
    width: 210px;

}

.about-us .container .row .col-about-us .quote:nth-child(2)
{
    transform: translate(10px);
}

@media (min-width:768px){
    .col-about-us{
        width: calc(8 * 100% / 12);
    }


    .col-about-us.quote{
        width: calc(4 * 100% / 12);
    }
}



/* UTILITY */

